input {
   display: block;
   width: 100%;
   margin: 20px 0px 0px 0px;
   padding: 5px;
   font-size: 17px;
   border: 1px solid black;
   border-radius: 5px;
}
.error{
   color: red;
}
.cartFood {
   background: #f0f0f0;
   margin: 15px 5px;
   padding: 10px 10px 10px 0px;
   border-radius: 10px;
}
.cardStyle {
   background-color: #ececec;
   box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
     rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
   border: 0;
   padding: 30px 25px 40px 25px;
}