nav .link {
   text-decoration: none;
   padding: 10px 15px;
   font-size: 18px;
   color: white;
   transition: all 0.3s;
}
nav .link:hover{
   text-decoration: none;
   background-color: #5569db;
   color: white;
   border-radius: 5px;
   text-decoration: none;
}
.shoppingCartIcon svg.MuiSvgIcon-root {
   color: white !important;
}